body{
	margin: 0;
	color: white;
	font-family: 'Roboto', sans-serif;
    /*font-family: 'Raleway', sans-serif;*/
}

/*INICIA HEADER*/

header {
	background-image: url(assets/bg/bg-headear.png);
	background-size: cover;
	position: relative;
	height: 570px;
}

header .abuelita{
	position: absolute;
	bottom: -20px;
	left: -40px;
}

header .abuelita img{
	max-width: 550px;
}

header .texto-header{
	max-width: 420px;
	/*border: solid red 10px;*/
	position: absolute;
	left: 63%;
	bottom: 38%;
	margin: 0;

}

header .texto-header h1{
	font-size: 	2.3em;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

header .texto-header p{
	font-size: 	1.3em;
	text-align: center;
	font-weight: 300;
}

/*TEMRINA HEADER*/

/*INICIA COMO FUNCIONA*/

.como-funciona {
	background-image: url(assets/bg/bg-como-funciona.png);
	background-size: cover;
	position: relative;
	height: 570px;
}

.como-funciona .texto-como-funciona{
	max-width: 650px;
	/*border: solid red 10px;*/
	position: absolute;
	left: 23%;
	top: 5%;
	margin: 0;
	text-align: center;
	
}

.como-funciona .texto-como-funciona h2{
	font-size: 	2.3em;
	font-family: 'Raleway', sans-serif;
	text-align: right;
}

.como-funciona .texto-como-funciona p{
	font-size: 	1.3em;
	font-weight: 300;
	padding: 10px;
}

.como-funciona .iconos-como-funciona{
	/*border: solid red 10px;*/
	position: absolute;
	max-width: 670px;
	bottom: 16%;
	left: 10%;
	display: inline-block;
	font-size: .9em;
}

.como-funciona .iconos-como-funciona  ul li{
	display: inline-block;
	text-align: center;
	/*border: solid red 1px;*/
	max-width: 100px;
	padding: 18px;
}

.como-funciona .texto-tu-patrimonio{
	/*border: solid red 1px;*/
	font-size: 	2.5em;
	font-family: 'Raleway', sans-serif;
	text-align: right;
	color: black;
	position: absolute;
	bottom: -5%;
	max-width: 500px;
	right: 1%;
}

/*FIN COMO FUNCIONA*/

/*INICIO DESARROLLO OAXACA*/

.desarrollo-oaxaca{
	background-image: url(assets/bg/bg-agaves.png);
	background-size: cover;
	position: relative;
	height: 570px;
}

.desarrollo-oaxaca .logo{
	text-align: right;
	position: absolute;
	top: 5%;
	max-width: 407px;
	left: 1%;
}

.desarrollo-oaxaca .logo img{
	max-width: 199px;
}

.desarrollo-oaxaca .titulo{
	font-size: 	3em;
	font-family: 'Raleway', sans-serif;
	text-align: right;
	position: absolute;
	top: -5%;
	max-width: 500px;
	right: 1%;
}

.desarrollo-oaxaca .fotos{
	max-width: 1000px;
	/*border: red solid 2px;*/
	margin: 0 auto;
	padding: 50px 0 0 0;
	text-align: center;
}

.desarrollo-oaxaca .imagen1-agaves {
	display: inline-block;
	margin: 10px 15px 0 30px;
	
}

.desarrollo-oaxaca .imagen2-agaves {
	display: inline-block;
	margin: 10px 0 0 15px;
	
}

.desarrollo-oaxaca .imagen1-agaves img{
	max-width: 390px;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.desarrollo-oaxaca .imagen2-agaves img{
	max-width: 390px;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}

.desarrollo-oaxaca .iconos-agaves{
	/*border: solid red 10px;*/
	position: absolute;
	max-width: 870px;
	bottom: -3%;
	left: 7%;
	display: inline-block;
	font-size: 1em;

}

.desarrollo-oaxaca .iconos-agaves ul li{
	display: inline-block;
	text-align: center;
	/*border: solid red 1px;*/
	max-width: 90px;
	padding: 28px;
}

.desarrollo-oaxaca .precio{
	font-family: 'Raleway', sans-serif;
	text-align: right;
	color: white;
	position: absolute;
	bottom: 5%;
	max-width: 500px;
	right: 2%;
}

.desarrollo-oaxaca .precio p{
	font-size: 1.9em;
	font-family: 'Roboto', sans-serif;
	text-align: right;
}

.desarrollo-oaxaca .precio p span{
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
}
.desarrollo-oaxaca .precio button{
	background: #1798a6;
	font-size: 2.1em;
	font-family: 'Roboto', sans-serif;
	color: white;
	border: none;
 	color: #f2f2f2;
 	padding: 10px;
 	border-radius: 9px;
 	position: relative;
 	box-sizing: border-box;
 	transition: all 300ms ease;
	box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
	cursor: pointer;
	outline: none;

}

.desarrollo-oaxaca .precio button:hover {
 /*background: rgba(0,0,0,0);*/
 color: black;
}

.desarrollo-oaxaca .precio button:active {
 box-shadow: inset 7px 10px 5px 0px rgba(0,0,0,0.75);
}


/*FIN DESARROLLO OAXACA*/

/*INICIO DESARROLLO HUAUTLCO*/

.desarrollo-huatulco{
	background-image: url(assets/bg/bg-villas.png);
	background-size: cover;
	position: relative;
	height: 570px;
}

.desarrollo-huatulco .logo{
	text-align: right;
	position: absolute;
	top: 0%;
	max-width: 407px;
	right: 0%;
}

.desarrollo-huatulco .logo img{
	max-width: 150px;
}

.desarrollo-huatulco .titulo{
	font-size: 	3em;
	font-family: 'Raleway', sans-serif;
	text-align: right;
	position: absolute;
	top: -5%;
	max-width: 500px;
	left: 1%;
}

.desarrollo-huatulco .fotos{
	max-width: 1000px;
	/*border: red solid 2px;*/
	margin: 0 auto;
	padding: 50px 0 0 0;
	text-align: center;
}

.desarrollo-huatulco .imagen1-huatulco {
	display: inline-block;
	margin: 10px 15px 0 30px;
	
}

.desarrollo-huatulco .imagen2-huatulco {
	display: inline-block;
	margin: 10px 0 0 15px;
	
}

.desarrollo-huatulco .imagen1-huatulco img{
	max-width: 390px;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.desarrollo-huatulco .imagen2-huatulco img{
	max-width: 390px;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}

.desarrollo-huatulco .iconos-huatulco{
	/*border: solid red 10px;*/
	position: absolute;
	max-width: 870px;
	bottom: -3%;
	right: 18%;
	display: inline-block;
	font-size: 1em;

}

.desarrollo-huatulco .iconos-huatulco ul li{
	display: inline-block;
	text-align: center;
	/*border: solid red 1px;*/
	max-width: 90px;
	padding: 28px;
}

.desarrollo-huatulco .precio{
	font-family: 'Raleway', sans-serif;
	text-align: left;
	color: white;
	position: absolute;
	bottom: 5%;
	max-width: 500px;
	left: 2%;
}

.desarrollo-huatulco .precio p{
	font-size: 1.9em;
	font-family: 'Roboto', sans-serif;
	text-align: left;
}

.desarrollo-huatulco .precio p span{
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
}
.desarrollo-huatulco .precio button{
	background: #1798a6;
	font-size: 2.1em;
	font-family: 'Roboto', sans-serif;
	color: white;
	border: none;
 	color: #f2f2f2;
 	padding: 10px;
 	border-radius: 9px;
 	position: relative;
 	box-sizing: border-box;
 	transition: all 300ms ease;
	box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
	cursor: pointer;
	outline: none;

}

.desarrollo-huatulco .precio button:hover {
 /*background: rgba(0,0,0,0);*/
 color: black;
}

.desarrollo-huatulco .precio button:active {
 box-shadow: inset 7px 10px 5px 0px rgba(0,0,0,0.75);
}

/*FIN DESARROLLO HUATULCO*/

/*INICIO CONTACTO*/

.contacto{
	background-image: url(assets/bg/bg-contacto.png);
	background-size: cover;
	position: relative;
	height: 670px;
}

.contacto h2{
	font-size: 	4em;
	font-family: 'Raleway', sans-serif;
	text-align: right;
	position: absolute;
	top: -5%;
	max-width: 500px;
	right: 1%;
}

.contacto  p{
	font-size: 	1.3em;
	font-weight: 300;
	padding: 10px;
	max-width: 600px;
	position: absolute;
	left: 50%;
	bottom: 50%;
	text-align: center;
}

.contacto  p span{
	
}

.contacto .form-kick{
	position: relative;
	left: 10%;
	/*border: solid 2px red;*/
	max-width: 350px;
	top: 18%;
}

#kol_signup_form_168251  div.kol-form-header  h2{
	left: 0;
    top: 0;
    right: 0;
}

.contacto .aviso-redes{
	font-size: 2.2em;
	float: right;
	padding-right: 30px;
	padding-top: 50px;
}

.contacto .aviso-redes ul{
	list-style: none;
}

.contacto .aviso-redes ul li{
	display: inline-block;
	padding-right: 25px;
}

.contacto .aviso-redes ul li a{
	text-decoration: none;
	color: white;
}

/*FIN CONTACTO*/

/*INICIO RESPONSIVE*/

@media screen and (max-width: 768px) {

	header {
	background-image: url(assets/bg-2/bg-header-2.png);
	background-size: cover;
	position: relative;
	height: 570px;
}
	
header .abuelita{
	position: absolute;
	bottom: -20px;
	left: -40px;
}

header .abuelita img{
	max-width: 440px;
}


header .texto-header{
	width: 60%;
	/*border: solid red 10px;*/
	position: absolute;
	left: 46%;
	bottom: 19%;
}

/*INICIA COMO FUNCIONA 768px*/

.como-funciona {
	background-image: url(assets/bg-2/bg-como-funciona-2.png);
	background-size: cover;
	position: relative;
	height: 570px;
}

.como-funciona .texto-como-funciona{
	max-width: 650px;
	/*border: solid red 10px;*/
	position: absolute;
	left: 9%;
	top: 5%;
	margin: 0;
	text-align: center;
	
}

.como-funciona .texto-como-funciona h2{
	font-size: 	2.1em;
	font-family: 'Raleway', sans-serif;
	text-align: right;
}

.como-funciona .texto-como-funciona p{
	font-size: 	1.3em;
	font-weight: 300;
	padding: 10px;
}

.como-funciona .iconos-como-funciona{
	/*border: solid red 10px;*/
	position: absolute;
	max-width: 670px;
	bottom: 19%;
	left: -3%;
	display: inline-block;
	font-size: .9em;
}

.como-funciona .iconos-como-funciona  ul li{
	display: inline-block;
	text-align: center;
	/*border: solid red 1px;*/
	max-width: 100px;
	padding: 18px;
}

.como-funciona .texto-tu-patrimonio{
	/*border: solid red 1px;*/
	font-size: 	2em;
	font-family: 'Raleway', sans-serif;
	text-align: right;
	color: black;
	position: absolute;
	bottom: -5%;
	max-width: 300px;
	right: 1%;
}
/*FIN COMO FUNCIONA 768px*/

/*INICIO DESARROLLO OAXACA 768px*/

.desarrollo-oaxaca{
	background-image: url(assets/bg-2/bg-agaves-2.png);
	/*background-size: cover;
	position: relative;
	height: 570px;*/
}

.desarrollo-oaxaca .logo{
	text-align: right;
	position: absolute;
	top: 2%;
	left: 1%;
	max-width: 250px;
	
}

.desarrollo-oaxaca .logo img{
	max-width: 129px;
}

/*.desarrollo-oaxaca .titulo{
	font-size: 	3em;
	font-family: 'Raleway', sans-serif;
	text-align: right;
	position: absolute;
	top: -5%;
	max-width: 500px;
	right: 1%;
}*/

.desarrollo-oaxaca .fotos{
	max-width: 700px;
	/*border: red solid 2px;*/
	margin: 0 auto;
	padding: 100px 0 0 10px;
	text-align: center;
	display: block;
}

.desarrollo-oaxaca .imagen1-agaves {
	display: inline-block;
	max-width: 40%;
	margin: 10px 15px 0 30px;
	
}

.desarrollo-oaxaca .imagen2-agaves {
	display: inline-block;
	margin: 10px 0 0 15px;
	max-width: 40%;
	
}

.desarrollo-oaxaca .imagen1-agaves img{
	max-width: 100%;
	/*box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);*/
}

.desarrollo-oaxaca .imagen2-agaves img{
	max-width: 100%;
	/*box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);*/

}

.desarrollo-oaxaca .iconos-agaves{
	/*border: solid red 10px;*/
	position: absolute;
	max-width: 410px;
	bottom: 3%;
	left: 2%;
	display: inline-block;
	font-size: .9em;

}

.desarrollo-oaxaca .iconos-agaves ul li{
	display: inline-block;
	text-align: center;
	/*border: solid red 1px;*/
	max-width: 90px;
	padding: 10px;
}

.desarrollo-oaxaca .iconos-agaves ul li img{
	
	max-width: 30px;
	
}

.desarrollo-oaxaca .precio{
	font-family: 'Raleway', sans-serif;
	text-align: right;
	color: white;
	position: absolute;
	bottom: 8%;
	max-width: 500px;
	right: 2%;
}

.desarrollo-oaxaca .precio p{
	font-size: 1.9em;
	font-family: 'Roboto', sans-serif;
	text-align: right;
}

.desarrollo-oaxaca .precio p span{
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
}
.desarrollo-oaxaca .precio button{
	background: #1798a6;
	font-size: 2.1em;
	font-family: 'Roboto', sans-serif;
	color: white;
	border: none;
 	color: #f2f2f2;
 	padding: 10px;
 	border-radius: 9px;
 	position: relative;
 	box-sizing: border-box;
 	transition: all 300ms ease;
	box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
	cursor: pointer;
	outline: none;

}

.desarrollo-oaxaca .precio button:hover {
 /*background: rgba(0,0,0,0);*/
 color: black;
}

.desarrollo-oaxaca .precio button:active {
 box-shadow: inset 7px 10px 5px 0px rgba(0,0,0,0.75);
}


/*FIN DESARROLLO OAXACA 768*/

/*INICIO DESARROLLO HUATULCO 768*/

.desarrollo-huatulco{
	background-image: url(assets/bg-2/bg-villas-2.png);
}

/*.desarrollo-huatulco .logo{
	text-align: right;
	position: absolute;
	top: 0%;
	max-width: 307px;
	right: 0%;
}*/

.desarrollo-huatulco .logo img{
	max-width: 120px;
}

/*.desarrollo-huatulco .titulo{
	font-size: 	3em;
	font-family: 'Raleway', sans-serif;
	text-align: right;
	position: absolute;
	top: -5%;
	max-width: 500px;
	left: 1%;
}*/

.desarrollo-huatulco .fotos{
	max-width: 700px;
	/*border: red solid 2px;*/
	margin: 0 auto;
	padding: 100px 0 0 10px;
	text-align: center;
	display: block;
}

.desarrollo-huatulco .imagen1-huatulco {
	display: inline-block;
	max-width: 40%;
	margin: 10px 15px 0 30px;
	
}

.desarrollo-huatulco .imagen2-huatulco {
	display: inline-block;
	margin: 10px 0 0 15px;
	max-width: 40%;
	
}

.desarrollo-huatulco .imagen1-huatulco img{
	max-width: 100%;
	/*box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);*/
}

.desarrollo-huatulco .imagen2-huatulco img{
	max-width: 90%;
	/*box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);*/

}

.desarrollo-huatulco .iconos-huatulco{
	/*border: solid red 10px;*/
	position: absolute;
	max-width: 410px;
	bottom: 3%;
	right: 2%;
	display: inline-block;
	font-size: .9em;

}

.desarrollo-huatulco .iconos-huatulco ul li{
	display: inline-block;
	text-align: center;
	/*border: solid red 1px;*/
	max-width: 90px;
	padding: 10px;
}

.desarrollo-huatulco .iconos-huatulco ul li img{
	max-width: 30px;
}

/*FIN DESARROLLO HUATULCO 768*/
	
/*INICIO CONTACTO*/

.contacto{
	background-image: url(assets/bg/bg-contacto.png);
	background-size: cover;
	position: relative;
	height: 770px;
}

.contacto h2{
	font-size: 	4em;
	font-family: 'Raleway', sans-serif;
	text-align: right;
	position: absolute;
	top: -5%;
	max-width: 500px;
	right: 5%;
}

.contacto  p{
	font-size: 	1.3em;
	font-weight: 300;
	padding: 10px;
	max-width: 600px;
	position: absolute;
	left: 45%;
	bottom: 40%;
	text-align: center;
}


.contacto .form-kick{
	position: relative;
	left: 5%;
	/*border: solid 2px red;*/
	max-width: 280px;
	top: 20%;
}

/*FIN CONTACTO*/

}

/*FIN RESPONSIVE 768px*/


@media screen and (max-width: 500px) {
	header {
	background-image: url(assets/bg-3/bg-header-3.png);
	background-size: cover;
	height: 570px;
}

header .abuelita{
	display: none;
}


header .texto-header{
	width: 60%;
	/*border: solid red 10px;*/
	position: absolute;
	left: 38%;
	bottom: 10%;

}

/*TEMRINA HEADER*/

/*INICIA COMO FUNCIONA*/

.como-funciona {
	background-image: url(assets/bg-3/bg-como-funciona-3.png);
	background-size: cover;
	position: relative;
	height: 620px;
}

.como-funciona .texto-como-funciona{
	max-width: 70%;
	/*border: solid red 10px;*/
	position: absolute;
	left: 19%;
	top: 0%;
	margin: 0;
	text-align: center;
}

.como-funciona .texto-como-funciona h2{
	font-size: 	2em;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

.como-funciona .texto-como-funciona p{
	font-size: 	1em;
	font-weight: 300;
	padding-top: 10px;
	padding-bottom: 10px;
}

.como-funciona .iconos-como-funciona{
	/*border: solid red 10px;*/
	position: static;
	max-width: 85%;
	/*bottom: 2%;
	left: 14%;*/
	margin: 0 auto;
	padding-top: 230px; 
	/*display: inline-block;*/
	font-size: .8em;
	padding-bottom:20px;
}

.como-funciona .iconos-como-funciona  ul{
	display: block;
	text-align: center;
	/*border: solid red 1px;*/
	max-width: auto;
	margin: 0 auto;
	padding-top: 60px;
	position: absolute;
	left: 0%
}

.como-funciona .iconos-como-funciona  ul li{
	display: inline-block;
	text-align: center;
	/*border: solid red 1px;*/
	max-width: 100px;
	padding: 18px;

}

.como-funciona .texto-tu-patrimonio{
	display: none;
}

/*FIN COMO FUNCIONA*/

/*INICIO DESARROLLO OAXACA*/

.desarrollo-oaxaca{
	background-image: url(assets/bg-3/bg-agaves-3.png);
	background-size: cover;
	height: 1600px;
}

.desarrollo-oaxaca .logo{
	text-align: right;
	position: absolute;
	top: 2%;
	max-width: 17%;
	left: 5%;
}

.desarrollo-oaxaca .logo img{
	max-width: 140px;
}

.desarrollo-oaxaca .titulo{
	font-size: 	3em;
	top: 6%;
	max-width: 300px;
	right: 5%;
}

.desarrollo-oaxaca .fotos{
	max-width: 1000px;
	/*border: red solid 2px;*/
	position: static;

	margin: 0 auto;
	padding: 220px 0 0 0;
	text-align: center;
}

.desarrollo-oaxaca .imagen1-agaves {
	max-width: 100%;
	display: inline-block;
	margin: 10px 15px 0 30px;
}

.desarrollo-oaxaca .imagen2-agaves {
	max-width: 100%;
	display: inline-block;
	margin: 40px 0 0 15px;
	
}

.desarrollo-oaxaca .imagen1-agaves img{
	max-width: 300px;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.desarrollo-oaxaca .imagen2-agaves img{
	max-width: 300px;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.desarrollo-oaxaca .iconos-agaves{
	/*border: solid red 10px;*/
	position: static;
	width: 400px;
	display: block;
	/*bottom: -3%;
	left: 7%;*/
	margin: 0 auto;
	font-size: 1em;

}

.desarrollo-oaxaca .iconos-agaves ul li{
	display: inline-block;
	text-align: center;
	/*border: solid red 1px;*/
	max-width: 90px;
	padding: 28px;
}

.desarrollo-oaxaca .iconos-agaves ul li img{
	max-width: 100%;
}

.desarrollo-oaxaca .precio{
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: white;
	position: static;
	/*bottom: 5%;*/
	max-width: 100%;
	/*right: 2%;*/
	margin: 0 auto;
	/*border: solid red 2px;*/

}

.desarrollo-oaxaca .precio p{
	font-size: 1.9em;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin: 0;
}

.desarrollo-oaxaca .precio p span{
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
}
/*.desarrollo-oaxaca .precio button{
	background: #1798a6;
	font-size: 2.1em;
	font-family: 'Roboto', sans-serif;
	color: white;
	border: none;
 	color: #f2f2f2;
 	padding: 10px;
 	border-radius: 9px;
 	position: relative;
 	box-sizing: border-box;
 	transition: all 300ms ease;
	box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
	cursor: pointer;
	outline: none;

}*/

.desarrollo-oaxaca .precio button:hover {
 /*background: rgba(0,0,0,0);*/
 color: black;
}

.desarrollo-oaxaca .precio button:active {
 box-shadow: inset 7px 10px 5px 0px rgba(0,0,0,0.75);
}


/*FIN DESARROLLO OAXACA*/

/*INICIO DESARROLLO HUAUTLCO*/

.desarrollo-huatulco{
	background-image: url(assets/bg-3/bg-villas-3.png);
	background-size: cover;
	position: relative;
	height: 1400px;
}

.desarrollo-huatulco .logo{
	text-align: right;
	position: absolute;
	top: 3%;
	max-width: 407px;
	right: 2%;
}

.desarrollo-huatulco .logo img{
	max-width: 30%;
}

.desarrollo-huatulco .titulo{
	font-size: 	2.8em;
	font-family: 'Raleway', sans-serif;
	text-align: right;
	position: absolute;
	top: 2%;
	max-width: 500px;
	left: 3%;
}

.desarrollo-huatulco .fotos{
	max-width: 1000px;
	/*border: red solid 2px;*/
	margin: 0 auto;
	padding: 220px 0 0 0;
	text-align: center;
}

.desarrollo-huatulco .imagen1-huatulco {
	max-width: 100%;
	display: inline-block;
	margin: 10px 15px 0 30px;
	
}

.desarrollo-huatulco .imagen2-huatulco {
	max-width: 100%;
	display: inline-block;
	margin: 10px 0 0 15px;
	
}

.desarrollo-huatulco .imagen1-huatulco img{
	max-width: 300px;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.desarrollo-huatulco .imagen2-huatulco img{
	max-width: 300px;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}

.desarrollo-huatulco .iconos-huatulco{
	/*border: solid red 10px;*/
	position: static;
	width: 400px;
	display: block;
	/*bottom: -3%;
	left: 7%;*/
	margin: 0 auto;
	font-size: 1em;

}

.desarrollo-huatulco .iconos-huatulco ul li{
	display: inline-block;
	text-align: center;
	/*border: solid red 1px;*/
	max-width: 90px;
	padding: 28px;
}

.desarrollo-huatulco .iconos-huatulco ul li img{
	max-width: 100%;
}


.desarrollo-huatulco .precio{
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: white;
	position: static;
	/*bottom: 5%;*/
	max-width: 100%;
	/*right: 2%;*/
	margin: 0 auto;
	/*border: solid red 2px;*/
}

.desarrollo-huatulco .precio p{
	font-size: 1.9em;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin: 0;

}

.desarrollo-huatulco .precio p span{
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
}
.desarrollo-huatulco .precio button{
	background: #1798a6;
	font-size: 2.1em;
	font-family: 'Roboto', sans-serif;
	color: white;
	border: none;
 	color: #f2f2f2;
 	padding: 10px;
 	border-radius: 9px;
 	position: relative;
 	box-sizing: border-box;
 	transition: all 300ms ease;
	box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
	cursor: pointer;
	outline: none;

}

.desarrollo-huatulco .precio button:hover {
 /*background: rgba(0,0,0,0);*/
 color: black;
}

.desarrollo-huatulco .precio button:active {
 box-shadow: inset 7px 10px 5px 0px rgba(0,0,0,0.75);
}

/*FIN DESARROLLO HUATULCO 500*/

/*INICIO CONTACTO 500*/

.contacto{
	background-image: url(assets/bg-3/bg-contacto-3.png);
	background-size: cover;
	position: relative;
	height: 940px;
}

.contacto h2{
	font-size: 	4em;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	position: static;
	margin: 0 auto;
	max-width: 310px;
	padding-top: 10px;
	
}

.contacto  p{
	font-size: 	1.3em;
	font-weight: 300;
	padding: 10px;
	max-width: 300px;
	position: static;
	text-align: center;
	margin: 0 auto;
}

.contacto  p span{
	
}

.contacto .form-kick{
	position: static;
	margin: 0 auto;
	/*border: solid 2px red;*/
	max-width: auto;
	padding-top: 20px;
}

.contacto .aviso-redes{
	max-width: auto;
	font-size: 2.2em;
	position: static;
	/*padding-right: 30px;*/
	/*padding-top: 50px;*/
	display: block;
	padding-top: 0;
}

.contacto .aviso-redes ul{
	list-style: none;
}

.contacto .aviso-redes ul li{
	display: inline-block;
	padding-right: 25px;
}

.contacto .aviso-redes ul li a{
	text-decoration: none;
	color: white;
}
}



@media screen and (max-width: 330px) {

	.como-funciona {
	background-image: url(assets/bg-3/bg-como-funciona-3.png);
	background-size: cover;
	position: relative;
	height: 880px;
}

.como-funciona .texto-como-funciona{
	max-width: 90%;
	/*border: solid red 10px;*/
	position: static;
	/*left: 19%;*/
	/*top: 0%;*/
	padding-top: 10px;
	margin: 0 auto;
	text-align: center;
}

.como-funciona .texto-como-funciona h2{
	font-size: 	2em;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

.como-funciona .texto-como-funciona p{
	font-size: 	1em;
	font-weight: 300;
	padding: 10px;
}

.como-funciona .iconos-como-funciona{
	/*border: solid red 10px;*/
	position: static;
	max-width: 90%;
	/*bottom: 2%;
	left: 14%;*/
	margin: 0 auto;
	padding-top: 0;
	/*display: inline-block;*/
	font-size: .8em;
}

.como-funciona .iconos-como-funciona  ul{
	display: block;
	text-align: center;
	/*border: solid red 1px;*/
	max-width: 90%;
	margin: 0 auto;
	padding-top: 0%;
	position: static;
	/*left: 0%*/
}

/*FIN COMO FUNCIONA 320*/


/*INICIO DESARROLLO OAXACA 320*/

.desarrollo-oaxaca{
	background-image: url(assets/bg-3/bg-agaves-3.png);
	background-size: cover;
	height: 1600px;
}

.desarrollo-oaxaca .logo{
	text-align: right;
	position: absolute;
	top: 2%;
	max-width: 17%;
	left: 10%;
}

.desarrollo-oaxaca .logo img{
	max-width: 130px;
}

.desarrollo-oaxaca .titulo{
	font-size: 	2.5em;
	top: 6%;
	max-width: 300px;
	right: 2%;
}

.desarrollo-oaxaca .fotos{
	max-width: 90%;
	/*border: red solid 2px;*/
	position: static;

	margin: 0 auto;
	padding: 220px 0 0 0;
	text-align: center;
}

.desarrollo-oaxaca .imagen1-agaves {
	max-width: 100%;
	display: inline-block;
	margin: 10px 15px 0 30px;
}

.desarrollo-oaxaca .imagen2-agaves {
	max-width: 100%;
	display: inline-block;
	margin: 40px 0 0 15px;
	
}

.desarrollo-oaxaca .imagen1-agaves img{
	max-width: 100%;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.desarrollo-oaxaca .imagen2-agaves img{
	max-width: 90%;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.desarrollo-oaxaca .iconos-agaves{
	/*border: solid red 10px;*/
	position: static;
	width: 90%;
	display: block;
	/*bottom: -3%;
	left: 7%;*/
	margin: 0 auto;
	font-size: 1em;

}

.desarrollo-oaxaca .iconos-agaves ul{
	display: inline-block;
	text-align: center;
	/*border: solid red 1px;*/
	max-width: 290px;
	padding: 20px;
}


.desarrollo-oaxaca .iconos-agaves ul li{
	display: inline-block;
	text-align: center;
	/*border: solid red 1px;*/
	max-width: 280px;
	padding: 7px 3px 10px 3px;
}

.desarrollo-oaxaca .iconos-agaves ul li img{
	max-width: 100%;
}

.desarrollo-oaxaca .precio{
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: white;
	position: static;
	/*bottom: 5%;*/
	max-width: 100%;
	/*right: 2%;*/
	margin: 0 auto;
	/*border: solid red 2px;*/

}

.desarrollo-oaxaca .precio p{
	font-size: 1.9em;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin: 0;
}

.desarrollo-oaxaca .precio p span{
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
}
/*.desarrollo-oaxaca .precio button{
	background: #1798a6;
	font-size: 2.1em;
	font-family: 'Roboto', sans-serif;
	color: white;
	border: none;
 	color: #f2f2f2;
 	padding: 10px;
 	border-radius: 9px;
 	position: relative;
 	box-sizing: border-box;
 	transition: all 300ms ease;
	box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
	cursor: pointer;
	outline: none;

}*/

.desarrollo-oaxaca .precio button:hover {
 /*background: rgba(0,0,0,0);*/
 color: black;
}

.desarrollo-oaxaca .precio button:active {
 box-shadow: inset 7px 10px 5px 0px rgba(0,0,0,0.75);
}


/*FIN DESARROLLO OAXACA 320*/

/*INICIO HUAUTLCO 320px*/


.desarrollo-huatulco .titulo{
	font-size: 	2.8em;
	font-family: 'Raleway', sans-serif;
	text-align: right;
	position: absolute;
	top: 2%;
	max-width: 500px;
	left: 3%;
}

.desarrollo-huatulco .fotos{
	max-width: 90%;
	/*border: red solid 2px;*/
	position: static;

	margin: 0 auto;
	padding: 220px 0 0 0;
	text-align: center;
}

.desarrollo-huatulco .imagen1-huatulco {
	display: inline-block;
	margin: 10px 15px 0 30px;
	
}

.desarrollo-huatulco .imagen2-huatulco {
	display: inline-block;
	margin: 10px 0 0 15px;
	
}

.desarrollo-huatulco .imagen1-huatulco img{
	max-width: 100%;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.desarrollo-huatulco .imagen2-huatulco img{
	max-width: 90%;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}

.desarrollo-huatulco .iconos-huatulco{
	/*border: solid red 10px;*/
	position: static;
	width: 400px;
	display: block;
	/*bottom: -3%;
	left: 7%;*/
	margin: 0 auto;
	font-size: 1em;

}

.desarrollo-huatulco .iconos-huatulco ul{
	display: inline-block;
	text-align: center;
	/*border: solid red 1px;*/
	max-width: 300px;
	padding: 28px;
}


.desarrollo-huatulco .iconos-huatulco ul li{
	display: inline-block;
	text-align: center;
	/*border: solid red 1px;*/
	max-width: 90px;
	padding: 28px;
}

.desarrollo-huatulco .iconos-huatulco ul li img{
	max-width: 100%;
}

.desarrollo-huatulco .precio{
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: white;
	position: static;
	/*bottom: 5%;*/
	max-width: 100%;
	/*right: 2%;*/
	margin: 0 auto;
	/*border: solid red 2px;*/
}

.desarrollo-huatulco .precio p{
	font-size: 1.9em;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin: 0;

}


.desarrollo-huatulco .precio button:hover {
 /*background: rgba(0,0,0,0);*/
 color: black;
}

.desarrollo-huatulco .precio button:active {
 box-shadow: inset 7px 10px 5px 0px rgba(0,0,0,0.75);
}

/*FIN DESARROLLO HUATULCO 320*/
.contacto{
	background-image: url(assets/bg-3/bg-contacto-3.png);
	background-size: cover;
	position: relative;
	height: 940px;
}

	}









