body{
	margin: 0;
	color: white;
	font-family: 'Roboto', sans-serif;
    /*font-family: 'Raleway', sans-serif;*/
}

/*INICIA HEADER*/

header {
	background-image: url(assets/bg/bg-headear.png);
	background-size: cover;
	position: relative;
	height: 570px;

}

header .abuelita{
	position: absolute;
	bottom: -20px;
	left: -40px;
}

header .abuelita img{
	max-width: 550px;
}

header .texto-header{
	max-width: 420px;
	/*border: solid red 10px;*/
	position: absolute;
	left: 63%;
	bottom: 38%;
	margin: 0;

}

header .texto-header h1{
	font-size: 	2.3em;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

header .texto-header p{
	font-size: 	1.3em;
	text-align: center;
	font-weight: 300;
}

/*TEMRINA HEADER*/

/*INICIA COMO FUNCIONA*/

.como-funciona {
	background-image: url(assets/bg/bg-como-funciona.png);
	background-size: cover;
	position: relative;
	height: 570px;
}

.como-funciona .texto-como-funciona{
	max-width: 650px;
	/*border: solid red 10px;*/
	position: absolute;
	left: 23%;
	top: 5%;
	margin: 0;
	text-align: center;
	
}

.como-funciona .texto-como-funciona h2{
	font-size: 	2.3em;
	font-family: 'Raleway', sans-serif;
	text-align: right;
}

.como-funciona .texto-como-funciona p{
	font-size: 	1.3em;
	font-weight: 300;
	padding: 10px;
}

.como-funciona .iconos-como-funciona{
	/*border: solid red 10px;*/
	position: absolute;
	max-width: 670px;
	bottom: 16%;
	left: 10%;
	display: inline-block;
	font-size: .9em;
}

.como-funciona .iconos-como-funciona  ul li{
	display: inline-block;
	text-align: center;
	/*border: solid red 1px;*/
	max-width: 100px;
	padding: 18px;
}

.como-funciona .texto-tu-patrimonio{
	/*border: solid red 1px;*/
	font-size: 	2.5em;
	font-family: 'Raleway', sans-serif;
	text-align: right;
	color: black;
	position: absolute;
	bottom: -5%;
	max-width: 500px;
	right: 1%;
}

/*FIN COMO FUNCIONA*/

/*INICIO DESARROLLO OAXACA*/

.desarrollo-oaxaca{
	background-image: url(assets/bg/bg-agaves.png);
	background-size: cover;
	position: relative;
	height: 570px;
}

.desarrollo-oaxaca .logo{
	text-align: right;
	position: absolute;
	top: 5%;
	max-width: 407px;
	left: 1%;
}

.desarrollo-oaxaca .logo img{
	max-width: 199px;
}

.desarrollo-oaxaca .titulo{
	font-size: 	3em;
	font-family: 'Raleway', sans-serif;
	text-align: right;
	position: absolute;
	top: -5%;
	max-width: 500px;
	right: 1%;
}

.desarrollo-oaxaca .fotos{
	max-width: 1000px;
	/*border: red solid 2px;*/
	margin: 0 auto;
	padding: 50px 0 0 0;
	text-align: center;
}

.desarrollo-oaxaca .imagen1-agaves {
	display: inline-block;
	margin: 10px 15px 0 30px;
	
}

.desarrollo-oaxaca .imagen2-agaves {
	display: inline-block;
	margin: 10px 0 0 15px;
	
}

.desarrollo-oaxaca .imagen1-agaves img{
	max-width: 390px;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.desarrollo-oaxaca .imagen2-agaves img{
	max-width: 390px;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}

.desarrollo-oaxaca .iconos-agaves{
	/*border: solid red 10px;*/
	position: absolute;
	max-width: 870px;
	bottom: -3%;
	left: 7%;
	display: inline-block;
	font-size: 1em;

}

.desarrollo-oaxaca .iconos-agaves ul li{
	display: inline-block;
	text-align: center;
	/*border: solid red 1px;*/
	max-width: 90px;
	padding: 28px;
}

.desarrollo-oaxaca .precio{
	font-family: 'Raleway', sans-serif;
	text-align: right;
	color: white;
	position: absolute;
	bottom: 5%;
	max-width: 500px;
	right: 2%;
}

.desarrollo-oaxaca .precio p{
	font-size: 1.9em;
	font-family: 'Roboto', sans-serif;
	text-align: right;
}

.desarrollo-oaxaca .precio p span{
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
}
.desarrollo-oaxaca .precio button{
	background: #1798a6;
	font-size: 2.1em;
	font-family: 'Roboto', sans-serif;
	color: white;
	border: none;
 	color: #f2f2f2;
 	padding: 10px;
 	border-radius: 9px;
 	position: relative;
 	box-sizing: border-box;
 	transition: all 300ms ease;
	box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
	cursor: pointer;
	outline: none;

}

.desarrollo-oaxaca .precio button:hover {
 /*background: rgba(0,0,0,0);*/
 color: black;
}

.desarrollo-oaxaca .precio button:active {
 box-shadow: inset 7px 10px 5px 0px rgba(0,0,0,0.75);
}


/*FIN DESARROLLO OAXACA*/

/*INICIO DESARROLLO HUAUTLCO*/

.desarrollo-huatulco{
	background-image: url(assets/bg/bg-villas.png);
	background-size: cover;
	position: relative;
	height: 570px;
}

.desarrollo-huatulco .logo{
	text-align: right;
	position: absolute;
	top: 0%;
	max-width: 407px;
	right: 0%;
}

.desarrollo-huatulco .logo img{
	max-width: 150px;
}

.desarrollo-huatulco .titulo{
	font-size: 	3em;
	font-family: 'Raleway', sans-serif;
	text-align: right;
	position: absolute;
	top: -5%;
	max-width: 500px;
	left: 1%;
}

.desarrollo-huatulco .fotos{
	max-width: 1000px;
	/*border: red solid 2px;*/
	margin: 0 auto;
	padding: 50px 0 0 0;
	text-align: center;
}

.desarrollo-huatulco .imagen1-huatulco {
	display: inline-block;
	margin: 10px 15px 0 30px;
	
}

.desarrollo-huatulco .imagen2-huatulco {
	display: inline-block;
	margin: 10px 0 0 15px;
	
}

.desarrollo-huatulco .imagen1-huatulco img{
	max-width: 390px;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.desarrollo-huatulco .imagen2-huatulco img{
	max-width: 390px;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}

.desarrollo-huatulco .iconos-huatulco{
	/*border: solid red 10px;*/
	position: absolute;
	max-width: 870px;
	bottom: -3%;
	right: 18%;
	display: inline-block;
	font-size: 1em;

}

.desarrollo-huatulco .iconos-huatulco ul li{
	display: inline-block;
	text-align: center;
	/*border: solid red 1px;*/
	max-width: 90px;
	padding: 28px;
}

.desarrollo-huatulco .precio{
	font-family: 'Raleway', sans-serif;
	text-align: left;
	color: white;
	position: absolute;
	bottom: 5%;
	max-width: 500px;
	left: 2%;
}

.desarrollo-huatulco .precio p{
	font-size: 1.9em;
	font-family: 'Roboto', sans-serif;
	text-align: left;
}

.desarrollo-huatulco .precio p span{
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
}
.desarrollo-huatulco .precio button{
	background: #1798a6;
	font-size: 2.1em;
	font-family: 'Roboto', sans-serif;
	color: white;
	border: none;
 	color: #f2f2f2;
 	padding: 10px;
 	border-radius: 9px;
 	position: relative;
 	box-sizing: border-box;
 	transition: all 300ms ease;
	box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
	cursor: pointer;
	outline: none;

}

.desarrollo-huatulco .precio button:hover {
 /*background: rgba(0,0,0,0);*/
 color: black;
}

.desarrollo-huatulco .precio button:active {
 box-shadow: inset 7px 10px 5px 0px rgba(0,0,0,0.75);
}

/*FIN DESARROLLO HUATULCO*/

/*INICIO CONTACTO*/

.contacto{
	background-image: url(assets/bg/bg-contacto.png);
	background-size: cover;
	position: relative;
	height: 570px;
}

.contacto h2{
	font-size: 	4em;
	font-family: 'Raleway', sans-serif;
	text-align: right;
	position: absolute;
	top: -5%;
	max-width: 500px;
	right: 1%;
}

.contacto  p{
	font-size: 	1.3em;
	font-weight: 300;
	padding: 10px;
	max-width: 600px;
	position: absolute;
	left: 50%;
	bottom: 50%;
	text-align: center;
}

.contacto  p span{
	
}

.contacto .form-kick{
	position: relative;
	left: 10%;
	/*border: solid 2px red;*/
	max-width: 350px;
	top: 20%;
}

.contacto .aviso-redes{
	font-size: 2.2em;
	float: right;
	padding-right: 30px;
	padding-top: 50px;
}

.contacto .aviso-redes ul{
	list-style: none;
}

.contacto .aviso-redes ul li{
	display: inline-block;
	padding-right: 25px;
}

.contacto .aviso-redes ul li a{
	text-decoration: none;
	color: white;
}

/*FIN CONTACTO*/

/*INICIO RESPONSIVE*/

@media screen and (max-width: 500px) {
	header {
	background-image: url(assets/bg-3/bg-header-3.png);
	background-size: cover;
	height: 570px;
}

header .abuelita{
	display: none;
}


header .texto-header{
	width: 60%;
	/*border: solid red 10px;*/
	position: absolute;
	left: 38%;
	bottom: 10%;

}

/*TEMRINA HEADER*/

/*INICIA COMO FUNCIONA*/

.como-funciona {
	background-image: url(assets/bg-3/bg-como-funciona-3.png);
	background-size: cover;
	position: relative;
	height: 570px;
}

.como-funciona .texto-como-funciona{
	max-width: 65%;
	/*border: solid red 10px;*/
	position: absolute;
	left: 19%;
	top: 0%;
	margin: 0;
	text-align: center;
	
}

.como-funciona .texto-como-funciona h2{
	font-size: 	2em;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

.como-funciona .texto-como-funciona p{
	font-size: 	1em;
	font-weight: 300;
	padding: 10px;
}

.como-funciona .iconos-como-funciona{
	/*border: solid red 10px;*/
	position: absolute;
	max-width: 85%;
	bottom: 2%;
	left: 14%;
	display: inline-block;
	font-size: .8em;
}

.como-funciona .iconos-como-funciona  ul li{
	display: inline-block;
	text-align: center;
	/*border: solid red 1px;*/
	max-width: 100px;
	padding: 18px;
}

.como-funciona .texto-tu-patrimonio{
	display: none;
}

/*FIN COMO FUNCIONA*/

/*INICIO DESARROLLO OAXACA*/

.desarrollo-oaxaca{
	background-image: url(assets/bg-3/bg-agaves-3.png);
	background-size: cover;
	height: 1600px;
}

.desarrollo-oaxaca .logo{
	text-align: right;
	position: absolute;
	top: 2%;
	max-width: 20%;
	left: 5%;
}

.desarrollo-oaxaca .logo img{
	max-width: 180px;
}

.desarrollo-oaxaca .titulo{
	font-size: 	3em;
	top: 6%;
	max-width: 500px;
	right: 5%;
}

.desarrollo-oaxaca .fotos{
	max-width: 1000px;
	/*border: red solid 2px;*/
	margin: 0 auto;
	padding: 220px 0 0 0;
	text-align: center;
}

.desarrollo-oaxaca .imagen1-agaves {
	display: inline-block;
	margin: 10px 15px 0 30px;
}

.desarrollo-oaxaca .imagen2-agaves {
	display: inline-block;
	margin: 40px 0 0 15px;
	
}

.desarrollo-oaxaca .imagen1-agaves img{
	max-width: 350px;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.desarrollo-oaxaca .imagen2-agaves img{
	max-width: 350px;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}

.desarrollo-oaxaca .iconos-agaves{
	/*border: solid red 10px;*/
	position: static;
	width: 400px;
	display: block;
	/*bottom: -3%;
	left: 7%;*/
	margin: 0 auto;
	font-size: 1em;

}

.desarrollo-oaxaca .iconos-agaves ul li{
	display: inline-block;
	text-align: center;
	/*border: solid red 1px;*/
	max-width: 90px;
	padding: 28px;
}

.desarrollo-oaxaca .precio{
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: white;
	position: static;
	/*bottom: 5%;*/
	max-width: 100%;
	/*right: 2%;*/
	margin: 0 auto;
	/*border: solid red 2px;*/

}

.desarrollo-oaxaca .precio p{
	font-size: 1.9em;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin: 0;
}

.desarrollo-oaxaca .precio p span{
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
}
/*.desarrollo-oaxaca .precio button{
	background: #1798a6;
	font-size: 2.1em;
	font-family: 'Roboto', sans-serif;
	color: white;
	border: none;
 	color: #f2f2f2;
 	padding: 10px;
 	border-radius: 9px;
 	position: relative;
 	box-sizing: border-box;
 	transition: all 300ms ease;
	box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
	cursor: pointer;
	outline: none;

}*/

.desarrollo-oaxaca .precio button:hover {
 /*background: rgba(0,0,0,0);*/
 color: black;
}

.desarrollo-oaxaca .precio button:active {
 box-shadow: inset 7px 10px 5px 0px rgba(0,0,0,0.75);
}


/*FIN DESARROLLO OAXACA*/

/*INICIO DESARROLLO HUAUTLCO*/

.desarrollo-huatulco{
	background-image: url(assets/bg-3/bg-villas-3.png);
	background-size: cover;
	position: relative;
	height: 1400px;
}

.desarrollo-huatulco .logo{
	text-align: right;
	position: absolute;
	top: 1%;
	max-width: 407px;
	right: 2%;
}

.desarrollo-huatulco .logo img{
	max-width: 150px;
}

.desarrollo-huatulco .titulo{
	font-size: 	3em;
	font-family: 'Raleway', sans-serif;
	text-align: right;
	position: absolute;
	top: 2%;
	max-width: 500px;
	left: 1%;
}

.desarrollo-huatulco .fotos{
	max-width: 1000px;
	/*border: red solid 2px;*/
	margin: 0 auto;
	padding: 220px 0 0 0;
	text-align: center;
}

.desarrollo-huatulco .imagen1-huatulco {
	display: inline-block;
	margin: 10px 15px 0 30px;
	
}

.desarrollo-huatulco .imagen2-huatulco {
	display: inline-block;
	margin: 10px 0 0 15px;
	
}

.desarrollo-huatulco .imagen1-huatulco img{
	max-width: 350px;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.desarrollo-huatulco .imagen2-huatulco img{
	max-width: 350px;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}

.desarrollo-huatulco .iconos-huatulco{
	/*border: solid red 10px;*/
	position: static;
	width: 400px;
	display: block;
	/*bottom: -3%;
	left: 7%;*/
	margin: 0 auto;
	font-size: 1em;

}

.desarrollo-huatulco .iconos-huatulco ul li{
	display: inline-block;
	text-align: center;
	/*border: solid red 1px;*/
	max-width: 90px;
	padding: 28px;
}

.desarrollo-huatulco .precio{
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: white;
	position: static;
	/*bottom: 5%;*/
	max-width: 100%;
	/*right: 2%;*/
	margin: 0 auto;
	/*border: solid red 2px;*/
}

.desarrollo-huatulco .precio p{
	font-size: 1.9em;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin: 0;

}

.desarrollo-huatulco .precio p span{
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
}
.desarrollo-huatulco .precio button{
	background: #1798a6;
	font-size: 2.1em;
	font-family: 'Roboto', sans-serif;
	color: white;
	border: none;
 	color: #f2f2f2;
 	padding: 10px;
 	border-radius: 9px;
 	position: relative;
 	box-sizing: border-box;
 	transition: all 300ms ease;
	box-shadow: 7px 10px 5px 0px rgba(0,0,0,0.75);
	cursor: pointer;
	outline: none;

}

.desarrollo-huatulco .precio button:hover {
 /*background: rgba(0,0,0,0);*/
 color: black;
}

.desarrollo-huatulco .precio button:active {
 box-shadow: inset 7px 10px 5px 0px rgba(0,0,0,0.75);
}

/*FIN DESARROLLO HUATULCO*/

/*INICIO CONTACTO*/

.contacto{
	background-image: url(assets/bg/bg-contacto.png);
	background-size: cover;
	position: relative;
	height: 570px;
}

.contacto h2{
	font-size: 	4em;
	font-family: 'Raleway', sans-serif;
	text-align: right;
	position: absolute;
	top: -5%;
	max-width: 500px;
	right: 1%;
}

.contacto  p{
	font-size: 	1.3em;
	font-weight: 300;
	padding: 10px;
	max-width: 600px;
	position: absolute;
	left: 50%;
	bottom: 50%;
	text-align: center;
}

.contacto  p span{
	
}

.contacto .form-kick{
	position: relative;
	left: 10%;
	/*border: solid 2px red;*/
	max-width: 350px;
	top: 20%;
}

.contacto .aviso-redes{
	font-size: 2.2em;
	float: right;
	padding-right: 30px;
	padding-top: 50px;
}

.contacto .aviso-redes ul{
	list-style: none;
}

.contacto .aviso-redes ul li{
	display: inline-block;
	padding-right: 25px;
}

.contacto .aviso-redes ul li a{
	text-decoration: none;
	color: white;
}
}









